.red{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}

.blue{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}